{% load static from staticfiles %}
{% load multifor %}
<style>
    @font-face {
      font-family: "Glegoo Regular";
      src: url("/static/fonts/Glegoo-Regular.ttf") format("truetype");
    }
    @font-face {
      font-family: "Glegoo Bold";
      src: url("/static/fonts/Glegoo-Bold.ttf") format("truetype");
    }
    @font-face {
      font-family: "Open Sans Regular";
      src: url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
    }
    #document-transcript input:disabled, #document-transcript textarea:disabled, #document-transcript text:disabled {
        background: #dddddd;
    }
    textarea#id_address2_domiscilio_fiscal_del_emisor{
{#        display:none;#}
    }
{#    textarea[for="id_address2_domiscilio_fiscal_del_emisor"]{#}
{#        display:none;#}
{#    }#}
    label[for*=id_address]{
        display:none;
    }
    input#id_address1_calle{
        width: 473px;
    }
    input#id_address1_nnext{
        width:25%;
    }
    input#id_address1_nint {
        width: 25%;
        margin-top: -37px;
        margin-left: 150px;
    }
    input#id_address1_colonia{
        width: 35%;
        margin-top: -67px;
        margin-left: 299px;
    }
    input#id_address1_municipio_o_delegacion{
        margin-top: -62px;
        width: 473px;
    }
    input#id_address1_codigo_postal {
        margin-top: -54px;
        width: 40%;
    }
    input#id_address1_estado {
        margin-top: -84px;
        width: 50%;
        margin-left: 220px;
    }
    input#id_domicilio_fisico_del_emisor_physical_address {
        display: none;
    }
    input#id_address2_domiscilio_fiscal_del_emisor {
        margin-top: -40px;
        display:none;
    }
    input#id_address2_nnext{
            margin-top: -36px;
        width:25%;
    }
    input#id_address2_nint {
        width: 25%;
        margin-top: -66px;
        margin-left: 150px;
    }
    input#id_address2_colonia{
        width: 35%;
        margin-top: -97px;
        margin-left: 299px;
    }
    input#id_address2_calle {
        margin-top: -40px;
        width: 473px;
    }
    input#id_address2_municipio_o_delegacion{
        margin-top: -92px;
        width: 473px;
    }
    input#id_address2_codigo_postal {
        margin-top: -84px;
        width: 40%;
    }
    input#id_address2_estado {
        margin-top: -114px;
        width: 50%;
        margin-left: 220px;
    }
    p#domicilio-fiscio-2 {
        z-index: 99999999;
        position: absolute;
        color: purple;
        margin-top: -30px;
        padding-bottom: 10px;
    }
    #same-as-above-address{
        float: left;
        position: absolute;
        margin-top: -25px;
        margin-left: 90px;
    }
    #same-as-above-address-text {
        position: absolute;
        margin-left: 340px;
        margin-top: -30px;
        color:purple;
    }
    .step-4-of-5-address div#cant_read_container{
        display:none;
    }
    .step-4-of-5-address div.form-group {
        margin-bottom: -20px !important;
    }
    [label="id_address2_domiscilio_fiscal_del_emisor"]{
{#        display:none;#}
    }
    .feedbackform{
        width:500px;
    }
    .title-of-slide {
        height: 40px;
        margin-bottom: 70px;
        font-size:2.4em;
        text-align: center;
    }
    .close-button {
        /* color: white; */
        background: transparent;
        /* background-color: purple; */
        /* height: 30px; */
        background-image: url("/static/img/slide-graphics/QC_BT_9_Close.svg");
        width: 100px;
        height: 36px;
    }
    #quiero-otro-documento{
        margin-left:-70%;
    }
    .container{
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(270deg, #ffffff 50%, #A327A1 50%);
    }
    #quiero-otro-documento{
        left:20%;
    }
    #document-transcript {
        overflow: visible !important;
    }
    #the-logo{
        margin-left:-30px;
    }
    #slidedform{
        padding-left: 150px;
        width: 700px;
        background: transparent;
        border-style: none;
    }
{#    .bx-viewport{#}
{#        margin-left:100px !important;#}
{##}
{#        width: 600px !important;#}
{#        overflow: hidden !important;#}
{#        position: relative !important;#}
{#        height: 550px !important;#}
{#        margin-right: -50px !important;#}
{#        margin-left: 50px !important;#}
{#    }#}
    #document-transcript input{
        border: 1px solid purple;
    }
    .header-logo{
        display:none;
    }
    .bx-controls-direction a {
        top: 16px;
        z-index: 999 !important;
    }
    .bx-pager.bx-default-pager a.active{
        background:transparent !important;
        background-color:purple !important;
    }
    .bx-prev {
        left:10px;
        background: url('/static/img/slide-graphics/QC_Nav_01_Arrow_Left_Down.svg') -3px !important;
    }
    .bx-next {
        background: url('/static/img/slide-graphics/QC_Nav_02_Arrow_Right_Down.svg') -3px !important;
    }
    .bx-wrapper .bx-pager{
        padding-top: 50px !important;
    }
    .bx-wrapper .bx-viewport{
        -webkit-box-shadow: 0 0 0px #ccc !important;
    }
    .bx-pager.bx-default-pager a:hover,
    .bx-pager.bx-default-pager a{
        border: 1px solid purple !important;
        border-radius: 9px;
        border-width:;
        background:transparent !important;
        background-image: url("/static/img/slide-graphics/QC_Nav_03_Dot_Selected.svg");
    }
    .bx-default-pager {
        top: 29px;
        height: 40px;
    }
    label, h3{
        color:purple;
        font-family: Glegoo Regular;

    }
    .slide-title{
        top:3%;
        font-family: Glegoo Regular;
        color:purple;
    }
    .slide-first-title{
        color:grey;
        top:3%;
        font-family: Glegoo Regular;
    }
    .doesnt-look-right{
        clear: both;
        display: flex;
        font-family: Open Sans-serif;
        font-style: italic;
        font-size: 1.2em;
        font-weight: lighter;
        color: #777;
    }
    #document-transcript textarea {
        width: 90%;
        border: 1px solid purple;
        padding: 0.2em;
    }

    [name|="description"]{
        border-color:purple;
        border: 3px;
    }
    p.optional {
        color: purple;
        padding-top: 50px;

        font-family:"Glegoo Regular";
        font-size:1.5em;
    }
    legend {
        padding: 17px;
    }
    span#dollar-sign {
        font-size: 2.9em;
        color:purple;
    }
    div#del-recibo {
        border-style: solid;
        border-width: 1px;
        border-color: purple;
        margin-top: 20px;
        padding-left: 44px;
    }
    div#del-recibo p{
        color: purple;
        font-family: "Glegoo Regular"
    }
    #totalCon {
        float: left;
        width: 50%;
        height: 49px;
        padding-bottom: 10px;
        border-right-style: solid;
        border-width: 1px;
        border-color: #9C3793;
        font-size:2.6em;
        color:black;
        text-align: right;
        padding-right:25px;
    }
    #totalInput input {
        border: 3px;
        background: transparent;
        font-size: 3.2em;
        color: #9C3793;
        margin-top: -20px;
        text-align: right;
        width: 80%;
    }
    #precio-group {
        height: 50px;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #9C3793;
        border-right-style: solid;
    }
    #totalInput {
        float: right;
        width: 50%;
    }
    .modal-content{
        width:360px;
        height:428px;
        stroke:2px;
    }
    .image-category-icon img{
        width:90px;
        border-style: solid;
        border-width: 1px ;
        border-color: #9C3793;
        border-spacing: 1px;
        margin-right: -5px;
        margin-bottom: -1px;
    }
    .image-optional-category-icon img {
        width: 90px;
        border-style: solid;
        border-width: 1px;
        border-color: #9C3793;
        border-spacing: 1px;
        margin-right: -5px;
        margin-bottom: -1px;
    }

    #myModal{
        margin-right: -630px;
    }

    #myOptionalModal{
        margin-right: -630px;
    }
    #chooseOptionalCategory{
        border: 1px solid purple;
        height:80px;
        padding: 5px 5px 5px 0px;
    }
    .optional_category{
        height:150px;
    }
    .add-second-category{
        color: purple;
        display:inline;
    }
    .add-second-category a{
        float:right;
        margin-top: 15px;
        margin-right: 100px;

    }
    .add-second-category p {
        float: left;
        margin-left: 120px;
        margin-top: 20px;
        font-family: "Glegoo Regular";
        stroke-width: 1px;
    }
    .optional_category p{
        font-family: "Glegoo Regular";
        font-size: 1.5em;
    }
    #change_cat{
        margin: 0 auto;
    }
    .modal-footer {
        padding: 15px;
        text-align: center;
        border-top: 1px solid #e5e5e5;
    }
    #abbreviationBody{
        margin-left: -158px;
        padding-top: 20px;
        float: left;
    }
    #abbreviationBody p{
        margin-top: -9px;
        font-size:1.5em;
        font-family: "Open Sans Regular";
     }
    #legislature p{
        font-family: "Open Sans Regular";
    }
    #abbreviationAreaOfGovernment{
        text-align: center;
        border-top: 1px solid purple;
        clear:both;
        color:purple;
    }
    #senato{
        border-right: 1px solid purple;
        height:80px;
        margin-top:-5px;
        width:100px;
        float:left;
        color:purple;
    }
    #legislature{
        height:15px;
        float:left;

    }
    #legislature p{
        padding-left:5px;
        font-size:1.8em;
        color:purple;
    }
    #chooseCategory{
        width:100%;
        clear:both;
    }

    #chooseCategory p{
        color:purple;
        font-size: 1.5em;
        font-family: "Glegoo Regular";
    }
     #chooseCategory h1{
        padding-top:10px;
         font-size:2.45em;
        font-family: "Glegoo Bold";
    }
    #facturaDetails{
        border: 1px solid purple;
        height:80px;
        padding: 5px 5px 5px 0px;
    }
    #factura-details-title{
        text-align: left;
        font-size: 1.5em;
        margin-bottom:5px;
        color:purple;
        font-family: Open Sans Regular;
    }
    #senato img {
        padding-left: 6px;
        width: 95px;
        height: 60px;
    }
    .checkbox-btn{
        color: black ;
        background-color: #DAAFD8 ;
        font-size:11px;
    }

    .checkbox-btn:focus,
    .checkbox-btn.active{
        color:white;
        background-color:#A530A2 ;
        font-weight: bolder;
        font-size:11px;
    }

    [data-toggle="button"] > .btn > input[type="radio"] {
        display:inline;
        position:absolute;
        left:-9999px;
    }

    .qtip-default{
        margin-right:400px !important;
        margin-top:-20px;
    }
    .qtip{
        display:none;
    }
    #cant_read_container{
        padding-top:16px;
        padding-bottom:68px;
        width:150px;
        height:20px;
    }
    .cant_read{
        position:absolute;
        width: 100px;
        padding-right: 3px;
        height: 32px;
        background:transparent url("/static/img/slide-graphics/QC_BT_I_cant_read_Up.svg") center top no-repeat;
    }
    .cant_read:hover{
        background-image: url("/static/img/slide-graphics/QC_BT_7_I_cant_read_Down.svg");
    }
    .undo {
        float: right;
        margin-top: -23px;
        clear: both;
        width: 60px;
        height: 26px;
    }
{#    .qtip-pos-lt{#}
{#        left:-20px;#}
{#    }#}
{#    .qtip-tip{#}
{#        margin-right:200px;#}
{#    }#}
    div.qtip{
        width:100px;
        right:400px !important;
        margin-left: -500px;
    }
    .qtip-content{
        color:purple !important;
        background-color:white !important;
    }

    .dynamic-fields input{
        float:left;
    }
    #social_document{
        float:right;
    }
    .help-block img {
        top: 5px;
        margin-top: -40px;
        margin-left: -40px;
    }
    .bx-viewport ul li {
        /* background-color: blue; */
           padding-left: 42px;
            height:850px;
    }
    .step-1-of-5 ,.step-2-of-5 ,.step-3-of-5 , .step-4-of-5 , .step-5-of-5{
        border-top:1px solid purple;
        padding-bottom:10px;
    }
    .step-1-of-5 p,.step-2-of-5 p,.step-3-of-5 p, .step-4-of-5 p, .step-5-of-5 p{
        font-family:"Open Sans Light";
        font-style: italic;
        font-size: 1.4em;
    }
    #add_receipt_item{
        background:url("/static/img/slide-graphics/QC_BT_9_Add_new_row_Up.svg");
        height:30px;
        width:100px;
    }
    #add_receipt_item:hover{
        background:url("/static/img/slide-graphics/QC_BT_9_Add_new_row_Down.svg");
    }

</style>

<script>
    var abbreviationBody = {"SP":"Servicios Parlamentarios",
        "SA":"Servicios Administrativos",
        "SME":"Servicios Medicos y Esteticos",
        "UT":"Unidad de Transferencia",
        "CS":"Communicación Social",
        "CI":"Controloría Interna",
        "AS":"Auditoría Superior",
        "IBD":"Instituto Belisario Dominguez",
        "CC":"Canal de Congreso",
        "MD":"Mesa Directiva",
        "JCP":"Junta de Coordinación Politica",
        "CO":"Comisión Ordinaria",
        "CE":"Comisión Especial",
        "CDI":"Comisión de Investigación",
        "C"	:"Comité",
        "GP":"Grupo Parlimentario",
        "X":"Unknown"
    };

    var abbreviationAreaOfGovernment = {
        "S":"Senado",
        "D":"Camera de Diputados"
    };

    var abbreviationExpenditure = {
        "SGM":"Seguro de gastos médicos",
        "PATM":"Pasajes aereos, terrestres, maritimos",
        "G":"Gasolina",
        "P":"Peaje",
        "A":"Alimentos",
        "H":"Hospedaje",
        "PP":"Papeleria",
        "EO":"Eventos Officiales",
        "CP":"Comunicación y Publicidad",
        "SB":"Servicios Basicos (luz, agua y telefono)",
        "CRI":"Compra y Renta de Bienes Inmuebles",
        "MR":"Mantenimiento y Reperación",
        "MEO":"Mobiliario y Equipo de Oficina",
        "V":"Vehiculos",
        "SM":"Servicios Medico y de Laboritorio",
        "SPC":"Servicos Profesionales y Cientificos",
        "TS":"Transferecias al Sindicato",
        "DA":"Donativos, Ayudas Sociales y Transferencias al Extranjero",
        "VB":"Vestuario, Blancos, Articulos Deportivos",
        "BA":"Bienes Artisticos y Culturales",
        "X":"Unknown"
    };

    var abbrevationLegislature = {
        "62":"Legislatura 62",
        "63":"Legislatura 63",
        "64":"Legislatura 64"
    };

    $( document ).ready(function() {


        // Convert radio buttons into groups of toggle buttons.
        convertRadioButtonsToToggle();

        // Build the bxSlider
        buildSlider();

        // When we click "Other", the field for Other text should be activated
        disableButtonWhenClickingOther();

        // Customize navigating through slides so we have the "Submit button" in the last slide
        var slider = customSlideNavigationFunctions();



        // Add form enhancements
        // When hovering in the "?" after a field, show the help-text as a tooltip.
        buildToolTipText();

        // When a user can't read the data in the PDF he can click "Can't read" link and disable that field.
        addCantReadLink();


        // Construct the category section


        addDynamicPriceFields();
        $("#purple-header").css('display','none');
        $(".header-white-space").css('display','none');
        $(document).on('click', '#submitForm', function(e) {
            $("[id^='qtip']").css('display','none');
            $('#document-viewer-container').parent().remove();
            $('#social_document').parent().parent().removeClass();
            $('#social_document').parent().parent().addClass('col-md-12');
            $("#purple-header").css('display','');
            $(".header-white-space").css('display','');
            $("#header-text").css('display','none');
        });
        constructCategory();

{#        $('.bx-viewport').change(function(){#}
{#            console.log(this);#}
{#            $('step-title').text($('slide-title').text);#}
{#        });#}

        // Design address slide.
        $('input#id_address2_domiscilio_fiscal_del_emisor').parent().parent().prepend("<p id='domicilio-fiscio-2'>Domicilio fisico del emisor/ physical address</p><input id='same-as-above-address' type='checkbox' name='same-as-above-address' value='Bike'><p id='same-as-above-address-text'>Same as above</p>");

        buildAddressSlideFunctionality();

        $('.step-1-of-5').append('<p>En este paso verificamos que la categoría de gasto preasignada a la factura sea correcta. Si es necesario, añadimos una categoría secundaria porque el documento contiene más de un tipo gasto.</p>');
        $('.step-2-of-5').append('<p>Aquí registramos la cantidad total facturada; es decir, la suma que incluye el IVA. </p>');
        $('.step-3-of-5').append('<p>Estos datos parecen aburridos, pero son importates para saber si los legisladores transfieren dinero a sus empresas. [NEW LINE] Aquí capturamos la fecha en que se emitió la factura y los datos de quien la emitió.</p>');
        $('.step-4-of-5').append('<p>En este paso ubicamos físicamente a la empresa y/o la sucursal que emitió la factura. Ayúdanos a capturar todos los datos que componen la dirección. </p>');
        $('.step-5-of-5').append('<p>¿Notaste algo extraño en la factura? ¿El precio pagado por un producto o servicio es elevado? ¿El gasto te parece inúti u ofensivo (vino, motocicletas deportivas, spa, fragancias, bares y cantinas, etcétera)? ¿El emisor de la factura es un político famoso o que tú recuerdas? ¡Anótalo! Investigaremos todo lo que te resulte sospechoso.</p>');
    });

    function buildAddressSlideFunctionality(){
        $('input[name="same-as-above-address"]').change(function(){
            if($(this)['context'].checked == true){
                 $('input[name="address2_calle"]')[1].value = $('input[name="address1_calle"]')[1].value;
                $('input[name="address2_nnext"]')[1].value = $('input[name="address1_nnext"]')[1].value;
                $('input[name="address2_nint"]')[1].value = $('input[name="address1_nint"]')[1].value;
                $('input[name="address2_colonia"]')[1].value = $('input[name="address1_colonia"]')[1].value;
                $('input[name="address2_municipio_o_delegacion"]')[1].value = $('input[name="address1_municipio_o_delegacion"]')[1].value;
                $('input[name="address2_codigo_postal"]')[1].value = $('input[name="address1_codigo_postal"]')[1].value;
                $('input[name="address2_estado"]')[1].value = $('input[name="address1_estado"]')[1].value;
            }
            else
            {
                 $('input[name="address2_calle"]')[1].value = "";
                $('input[name="address2_nnext"]')[1].value = "";
                $('input[name="address2_nint"]')[1].value = "";
                $('input[name="address2_colonia"]')[1].value = "";
                $('input[name="address2_municipio_o_delegacion"]')[1].value = "";
                $('input[name="address2_codigo_postal"]')[1].value = "";
                $('input[name="address2_estado"]')[1].value = "";
            }

       });
    }
    function constructCategory(){
        var documentViewer = $('#document-viewer-container').children()[0].data.split('/');
        var documentNameArray = documentViewer[documentViewer.length-1].split('_');
        $('.step-1-of-5-categoria div.form-group').css('display','none');
{#        $('.step-1-of-5-categoria h3').css('display','none');#}

        var fatura_details_icon_url = "";
        if(abbreviationAreaOfGovernment[documentNameArray[0]] == "Senado"){
            fatura_details_icon_url = "/static/img/QC_Icon_01_Senato.svg";
        }else{
            fatura_details_icon_url = "/static/img/QC_Icon_01_Parliament.svg";
        }

        var category_icon_url = '';

        $('.step-1-of-5-categoria').append('<br><div class="category_info"></div>');
        $('.category_info').append("<div id='factura-details-title'>Factura details:</div><div id='facturaDetails'></div>");
        $('#facturaDetails').append("<div id='senato'><img style='float:left;' src='"+fatura_details_icon_url+"'><p id='abbreviationAreaOfGovernment'>" + abbreviationAreaOfGovernment[documentNameArray[0]]+"</p></div>");
        $('#facturaDetails').append("<div id='legislature' ><p>"+abbrevationLegislature[documentNameArray[1]]+"</p></div>");
        $('#facturaDetails').append( "<div id='abbreviationBody'><br><p > " + abbreviationBody[documentNameArray[2]]+"</p></div>");
        $('.category_info').append("<div id='chooseCategory'><br/><br/><p>The category for this receipt is: </p><span><img id='category-icon-image' style='float:left;' src='"+getCategoryIcon(abbreviationExpenditure[documentNameArray[3]])+"'><h1 id='category-icon-name'>" + abbreviationExpenditure[documentNameArray[3]]+"</h1></span></div>");
        $('#chooseCategory').append("<span class='doesnt-look-right'>Doesn't look right? <a  href='' id='select-other-category'  data-toggle='modal' data-target='#myModal'><img src='/static/img/slide-graphics/QC_BT_Select_another_cat_Up.svg'></a> <a class='cant_read' href=''></a></span><br/><br/><div class='optional_category'></div>");

        $('.optional_category').append("<p>Optional </p><div id='chooseOptionalCategory'><span></span></div>");
        $('#chooseOptionalCategory').append("<span class='add-second-category'><p id='optionalCategoryText'>Add a second category</p> <a  href='' id='select-other-category'  data-toggle='modal' data-target='#myOptionalModal'><img src='/static/img/slide-graphics/QC_BT_5_Add_Up.svg'></a> </span><br/><br/><br/><br/><br/><br/><br/><br/>");

        $("input[name='abbrevationlegislature']").val(abbrevationLegislature[documentNameArray[1]]);
        $("input[name='abbreviationexpenditure']").val(abbreviationExpenditure[documentNameArray[3]]);
        $("input[name='abbreviationareaofgovernment']").val(abbreviationAreaOfGovernment[documentNameArray[0]]);
        $("input[name='abbreviationbody_val']").val(abbreviationBody[documentNameArray[2]]);


        $(".change_cat").click(function(){
            var otraCategoriaValue = $('#otherOptionalCategoryValue').val();
             $("input[name='abbreviationexpenditure']").val(otraCategoriaValue);
            $('.modal').modal('hide');
            $("#category-icon-image").attr('src', "");
            $('#category-icon-name').text(otraCategoriaValue);
        });

        $(".change_optional_cat").click(function(){

            var otraOptionalCategoriaValue = $('#otherSecondaryOptionalCategoryValue').val();
            $("input[name='abbreviationexpenditureoptional']").val(otraOptionalCategoriaValue);
            $('.modal').modal('hide');
            $('#optionalCategoryText').text("Otra categoria");
        });

        $( ".image-category-icon" ).hover(
          function() {
              var image_url = $(this).children().attr('src');
              if(image_url != undefined){
                  var replaced_url = image_url.replace(/(\.[\w\d_-]+)$/i, '_Hover$1');
                  $(this).children().attr('src',replaced_url);
                  $(this).addClass('selected');
                  var categoryName = image_url.split('_')[2].replace(/%20/g,' ').replace('.svg','');
                  console.log($(this).parent());
                  $(this).click(function(){
                      $("input[name='abbreviationexpenditure']").val(categoryName);
                      $('.modal').modal('hide');
                      $("#category-icon-image").attr('src', image_url);
                      $('#category-icon-name').text(categoryName);
                  });
              }
          }, function() {
                    var image_url = $(this).children().attr('src');
                  if(image_url != undefined){
                      var replaced_url = image_url.replace('_Hover', '');
                      $(this).children().attr('src',replaced_url);
                      $(this).removeClass('selected');
                  }
          });

        $( ".image-optional-category-icon" ).hover(
          function() {
              var image_url = $(this).children().attr('src');
              if(image_url != undefined){
                  var replaced_url = image_url.replace(/(\.[\w\d_-]+)$/i, '_Hover$1');
                  $(this).children().attr('src',replaced_url);
                  $(this).addClass('selected');
                  var categoryName = image_url.split('_')[2].replace(/%20/g,' ').replace('.svg','');
                  console.log($(this).parent());
                  $(this).click(function(){
                      $("input[name='abbreviationexpenditureoptional']").val(categoryName);
                      $('.modal').modal('hide');
                      $("#category-icon-image").attr('src', image_url);
                      $('#optionalCategoryText').text(categoryName);
                  });
              }
          }, function() {
                    var image_url = $(this).children().attr('src');
                  if(image_url != undefined){
                      var replaced_url = image_url.replace('_Hover', '');
                      $(this).children().attr('src',replaced_url);
                      $(this).removeClass('selected');
                  }
          });
        $('.bx-viewport').css('height','880px');
    }

    function getCategoryIcon(category){
        return "/static/img/category/QC_Icon_" + category.replace(/ /g, '%20') + ".svg";

    }
    function addDynamicPriceFields(){

        var candidad_class = $('.step-2-of-5-receipt-amount div.form-group').css('display','none');
        $('.step-2-of-5-receipt-amount').append('<div id="precio-group"><div id="totalCon">Total&nbspcon&nbspIVA</div><div id="totalInput"><input type="number" name="totalPrecioValue"/><span id="dollar-sign">&nbsp$</span></div></div>')
        $('.step-2-of-5-receipt-amount').append('<p class="optional">Optional</p><div id="del-recibo"></div>');
        $('#del-recibo').append('<div style="height:30px;display:inline;"><p style="border-color: purple;width:30%;float:left;">Description:</p><p style="width:30%;float:left;">Cantidad:</p><p style="width:30%;float:left;">Precio:</p></div>'+
                '<form class="form-inline"><div class="form-group" >' +
                                                    ' <div class="form-group"> ' +
                                                    '<label class="sr-only" for="description">Description:</label>' +
                                            '<input type="text" style="width: 150px;float:left; border-color: purple;" type="text" name="description" class="form-control description" id="description-0"/></div>' +
                                                    ' <div class="form-group"> ' +
                                                    '<label class="sr-only" for="cantidad">Cantidad:</label>' +
                                            '<input type="number" style="    margin-left: 10px;width: 50px;border-color: purple;" types="number" name="cantidad" class="form-control cantidad_number" id="cantidad-0"/></div>' +
                                                    ' <div class="form-group"> ' +
                                                    '<label class="sr-only" for="precio">Precio:</label>' +
                                            '<input type="number" style="    margin-left: 10px; border-color: purple;" type="number" name="precio" class="form-control precio" id="precio-0"/></div>' +
                                                    ' <div class="form-group"> ' +
                                            '<div id="total_sum-0"> = $  0  </div></div>' +
                                            '</div>'+
                                            '');
         $('#del-recibo').append('<div id="grande_total_receipt_add"><a style="float:left;" id="add_receipt_item"></a>'+
                                                                '<br/><br/><br/>');
            var index = 1;

            $(document).on('click', '#add_receipt_item', function(e) {

            //do whatever
                    if(index<candidad_class.length){
                                    $('#add_receipt_item').remove();
                                    $('#grande_total_receipt_add').remove();
                                    $('#del-recibo').append('<form class="form-inline"><div class="form-group" >' +
                                                    ' <div class="form-group"> ' +
                                                    '<label class="sr-only" for="description">Description:</label>' +
                                            '<input style="width: 150px;float:left; border-color: purple;" style="float:left;" type="text"  name="description" class="form-control description" id="description-'+index+'"/></div>' +
                                                    ' <div class="form-group"> ' +
                                                    '<label class="sr-only" for="cantidad">Cantidad:</label>' +
                                            '<input   type="number" style="    margin-left: 10px;width: 50px;border-color: purple;" types="number" name="cantidad"  class="form-control cantidad_number" id="cantidad-'+index+'"/></div>' +
                                                    ' <div class="form-group"> ' +
                                                    '<label class="sr-only" for="precio">Precio:</label>' +
                                            '<input  type="number" style="    margin-left: 10px; border-color: purple;"   type="number" name="precio" class="form-control precio" id="precio-'+index+'"/></div>' +
                                                    ' <div class="form-group"> ' +
                                            '<div id="total_sum-'+index+'"> = $  0</div></div>' +
                                            '</div></form>');
                                    $('#del-recibo').append('<div id="grande_total_receipt_add"><a style="float:left;" id="add_receipt_item"></a>'+
                                                                '<br/><br/><br/>');
                                    $('.bx-viewport').css('height','10%');

                    }
                index=index+1;

            });


        $(document).on('change', '.cantidad_number', function(e) {
                var grande_totale = 0;
                var cantidad_id = this.id;
                var value =$( this ).val();
                //do whatever
                var number_of_element = this.id.replace( /^\D+/g, '');
                var total_selector_name = '#total_sum-'+number_of_element;
                var value_of_all = $('#cantidad-'+number_of_element).val() * $('#precio-'+number_of_element).val();

                $(total_selector_name).html(" = $  "+ value_of_all);
                var receipt_item_id = "receiptitem-"+number_of_element;
               if(number_of_element==0){
                    $("input[name='receiptitem']").val($('#description-'+number_of_element).val()+"|"+$('#cantidad-'+number_of_element).val()+"|"+$('#precio-'+number_of_element).val());
                }else{
                    $("input[name='"+receipt_item_id+"']").val($('#description-'+number_of_element).val()+"|"+$('#cantidad-'+number_of_element).val()+"|"+$('#precio-'+number_of_element).val());
                }
                $('*[id^="total_sum"]').each(function(){
                        grande_totale = grande_totale + parseFloat(this.innerText.replace( /^\D+/g, ''));
                });
                $('#grande_total').html(grande_totale + "$");
        });

        $(document).on('change', '.precio', function(e) {
                var grande_totale = 0;
                var precio_id = this.id;
                var value =$( this ).val();
                //do whatever
                var number_of_element = precio_id.replace( /^\D+/g, '');

                var total_selector_name = '#total_sum-'+number_of_element;
                var value_of_alla = $('#cantidad-'+number_of_element).val() * $('#precio-'+number_of_element).val();
                $(total_selector_name).html(" = $  "+ value_of_alla);

                var receipt_item_id = "receiptitem-"+number_of_element;
                if(number_of_element==0){
                    $("input[name='receiptitem']").val($('#description-'+number_of_element).val()+"|"+$('#cantidad-'+number_of_element).val()+"|"+$('#precio-'+number_of_element).val());
                }else{
                    $("input[name='"+receipt_item_id+"']").val($('#description-'+number_of_element).val()+"|"+$('#cantidad-'+number_of_element).val()+"|"+$('#precio-'+number_of_element).val());
                }
                $('*[id^="total_sum"]').each(function(){
                        grande_totale = grande_totale + parseFloat(this.innerText.replace( /^\D+/g, ''));
                });
                $('#grande_total').html(grande_totale + "$");
        });
    }

    function addCantReadLink(){


        $('.form-group').each(function() {
            var cant_read_container = document.createElement('div');
            cant_read_container.id = "cant_read_container";
            var cant_read = document.createElement('a');
            cant_read.setAttribute("class", "cant_read");
            cant_read.setAttribute("href", "");
            var  undo= document.createElement('img');
            undo.setAttribute("src", "/static/img/slide-graphics/QC_BT_6_Undo%20Up.svg");
            undo.setAttribute("class", "undo");
            cant_read_container.appendChild(cant_read);
            cant_read_container.appendChild(undo);
            this.appendChild(cant_read_container);
        });


        $('.undo').css('display','none');
        $('.cant_read').click(function(){
            if($(this).parent().parent().children('input').length > 0){
                $(this).parent().parent().children('input').prop('disabled', true);
                $(this).parent().find('.undo').css('display','inline');
            }
            else if ($(this).parent().parent().children('textarea').length > 0){
                $(this).parent().parent().children('textarea').prop('disabled', true);
                $(this).parent().find('.undo').css('display','inline');
            }else if ($(this).parent().parent().children('text').length > 0){
                $(this).parent().parent().children('text').prop('disabled', true);
                $(this).parent().find('.undo').css('display','inline');
            }else if($(this).parent().parent().children().children('input').length>0){
                $(this).parent().parent().children().children('input').prop('disabled',true);
                $(this).parent().parent().children().children('input').css('background',"#dddddd")
                $(this).parent().find('.undo').css('display','inline');
            }
        });
        $('.undo').click(function(){
            if($(this).parent().parent().children('input').length > 0){
                $(this).parent().parent().children('input').prop('disabled', false);
                $(this).parent().find('.undo').css('display','none');
            }
            else if ($(this).parent().parent().children('textarea').length > 0){
                $(this).parent().parent().children('textarea').prop('disabled', false);
                 $(this).parent().find('.undo').css('display','none');
            }else if ($(this).parent().parent().children('text').length > 0){
                $(this).parent().parent().children('text').prop('disabled', false);
                 $(this).parent().find('.undo').css('display','none');
            }else if($(this).parent().parent().children().children('input').length>0){
                $(this).parent().parent().children().children('input').prop('disabled',false);
                 $(this).parent().parent().children().children('input').css('background',"#fff")
                 $(this).parent().find('.undo').css('display','none');
            }

        });
    }
    function customSlideNavigationFunctions(){
        var slider = $('.bxslideri').bxSlider({
            infiniteLoop: false,
            hideControlOnEnd: true,
            pager:true,
            responsive:true
        });

        $('.bx-next').click(function(){
            slider.goToNextSlide();
            navigatedToLastSlide(slider);
            return false;
        });

        $('.bx-prev').click(function(){
            slider.goToPrevSlide();
            navigatedToLastSlide(slider);
            return false;
        });

        $(".bx-pager-link").click(function(){
            var slideData = $(this).data();
            if(slideData.slideIndex == slider.getSlideCount() -1){
                addSubmitButtonLastSlide();
            }else{
                removeSubmitButtonLastSlide();
            }
        });

        return slider;
    }

    function disableButtonWhenClickingOther(){
        $("input[name='other_category']").prop('disabled', true);
        $("input[name='other_part_of_government_thats_responsible']").prop('disabled', true);

        $('.choicefield').change(function(){
            if($('.choicefield#id_part_of_government_thats_responsible_7').is(':checked')) {
                 $("input[name='other_part_of_government_thats_responsible']").prop('disabled', false);
            }else{
                $("input[name='other_part_of_government_thats_responsible']").prop('disabled', true);
            }

            if($('.choicefield#id_category_13').is(':checked')) {
                 $("input[name='other_category']").prop('disabled', false);
            }else{
                $("input[name='other_category']").prop('disabled', true);
            }

        });
    }

    function convertRadioButtonsToToggle(){
        $( "#elForm input:radio" ).parent().parent().parent().addClass("btn-group");
        $( "#elForm input:radio" ).parent().parent().addClass("btn checkbox-btn ");
        $("#elForm input:radio").parent().parent().parent().attr("data-toggle", "buttons");
        $( "#elForm input:radio" ).parent().parent().css('width','45%').css('border','1px solid white');

        $('input:radio').toggle();

        $('[id*="radio-popup-style-"]').click(function(){
            $(this).prop('checked', true).parent().addClass('active');
            $('[id*="radio-popup-style-"]').not($(this)).removeAttr('checked').prop('checked', false).parent().removeClass('active');
        });
    }

    function navigatedToLastSlide(slider){
        var numberOfSlides = slider.getSlideCount() -1;

        var navigatedToLastSlide = false;

        if(slider.getCurrentSlide() == numberOfSlides){
            navigatedToLastSlide = true;
        }

        if(navigatedToLastSlide == true){
            addSubmitButtonLastSlide();
        }
        else{
             removeSubmitButtonLastSlide();
        }
        return navigatedToLastSlide;
    }

    function addSubmitButtonLastSlide(){
        $('.bx-wrapper .bx-controls-direction a').children().eq(1).remove();

        // First we check if there is a submit button added
        // Doing this so we don't end up adding buttons everytime we click the slide controlls.
        if($('.bx-wrapper .bx-controls-direction').has('button').length == 0){
            $('.bx-wrapper .bx-controls-direction').append('<button id="submitForm" style="float:right; position:relative; z-index: 9999; margin-top:10px;" class="btn btn-success" type="submit">Submit</button>');
        }else{
            $('.bx-wrapper .bx-controls-direction button').remove();
        }
    }

    function removeSubmitButtonLastSlide(){
        // This function should be called only when you need to remove the submit button which comes
        // instead of the arrow in the slides.
         $('.bx-wrapper .bx-controls-direction button').remove();
    }

    function buildSlider(){
        // Get all the elements that have class="sections"
        var groupOfElements = document.getElementsByClassName('sections');

        // Declare the empty array to later fill with the sections names
        var allSections = [];

        // Save the names of the sections
        for (i = 0; i < groupOfElements.length; i++) {
            allSections[i]= slugify(jQuery.trim(groupOfElements[i].attributes.id.nodeValue));
        }

        // Get distinct section values
        var uniqueSections = allSections.filter(function(itm,i,allSections){
            return i==allSections.indexOf(itm);
        });

        // Group and render the fields in slide mode
        for (var i = 0; i < groupOfElements.length; i++) {
            for (var j = 0; j < uniqueSections.length; j++) {
                if(slugify(jQuery.trim(groupOfElements[i].attributes.id.nodeValue)) == uniqueSections[j]){
                    if($("."+uniqueSections[j]).length > 0){
                        // Adding other elements of the group(section)
                        $('.'+uniqueSections[j]).append('<div class="form-group">'+groupOfElements[i].innerHTML+ '</div>');
                    }
                    else{
                        // If we are showing the first element of the form group(section) we are showing the tittle too.
                        var slide_title = groupOfElements[i].id.split(":");
                        $(".bxslideri").append('<li class="'+uniqueSections[j]+'">'+'<div class="title-of-slide"><span class="slide-first-title">'+slide_title[0]+':</span>'+'<span class="slide-title">'+slide_title[1]+'</span></div>'+'<div class="'+slugify(slide_title[0])+'">'+'</div>'+'<div class="form-group">' + getFormElement(groupOfElements[i]) + '</div></li>');

                    }
                }
            }
        }
    }

    function getFormElement(element){

        return element.innerHTML;
    }

    // Slugify the strings
    function slugify(text)
    {
      return text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
    }

    function buildToolTipText(){

       $('.help-block').each(function() {

           if(this.innerText != ""){
                $(this).qtip({ // Grab some elements to apply the tooltip to
                    prerender: true,
                    content: {
                        text: this.innerText
                    },
                    style: {
                        tip: {
                            corner: true,
                            offset: -1
                        },
                    },
                    position: {
                        my: 'left top'
                    }
                });
               this.innerText = "";
               var x = document.createElement("IMG");
               x.src = "{% static '/static/img/about.svg' %}";
               this.appendChild(x);
{#               this.style.float = "right";#}
{#               this.style.margin = "-35px 0 0 170px";#}
{#               this.style.padding ="20px";#}
           }
       });
    }




</script>

<!-- bxSlider Javascript file -->
<script src="{% static "/static/js/jquery.bxslider.min.js" %}"></script>

<script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>

<link href="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css" rel="stylesheet"/>
<!-- bxSlider CSS file -->
<link href="{% static "/static/css/jquery.bxslider.css" %}" rel="stylesheet"></link>
 <form name="elForma" id="elForm" action="{{ form.get_absolute_url }}" method="post"
      {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} role="form" class="center-block">
         <!-- This section is using Multifor module to be able to identify the section of the field-->
        <div style="display:none;" class="form">
            {% for field in form_for_form; field_group in form_for_form.form_fields %}
                  <div class="sections" id="{{ field_group.group }}">
                <label for="">{{field.label_tag}}</label>
                <span class="help-block">{{field.help_text}}</span>
                {% if field.type == 'choicefield' %}
                      {% endif %}
                {{ field }}
              </div>
            {% endfor %} <!--  field in form_for_form -->
      </div>
 </form>

<form name="elForma" id="elForm" action="{{ form.get_absolute_url }}" method="post"
      {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} role="form" class="center-block">
{#    <legend>{{ form.title }}</legend>#}
    <img id="the-logo" width="150px" height="80px;" src="http://quiencompro.com/images/QC.png">
    <p class="step-x-y"></p><p class="step-title"></p>
    {% if form.intro %}
{#    <div class="subtitulo">#}
{#      {{ form.intro|safe }}#}
{#    </div>#}
    {% endif %}

    {% csrf_token %}
    <div id="slidedform" class="form">
        <ul style="" class="bxslideri">
        </ul>
    </div>

{#    {{ _('Skip it')  }}:  #}
    <a id="quiero-otro-documento" class="btn btn-danger"  id="another" href="" role="button">{{ _('I want another document') }}</a>


</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="categories-modal-body">
        <div class="categories-modal">

            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Seguro%20de%20gastos%20médicos.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Pasajes%20aereos,%20terrestres,%20maritimos.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Gasolina.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Alimentos.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Bienes Artisticos%20y%20Culturales.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Compra%20y%20Renta%20de%20Bienes%20Inmuebles.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Comunicación%20y%20Publicidad.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Donativos,%20Ayudas%20Sociales%20y%20Transferencias%20al%20Extranjero.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Eventos%20Officiales.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Hospedaje.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Mantenimiento%20y%20Reperación.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Mobiliario%20y%20Equipo%20de%20Oficina.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Papeleria.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Servicios%20Medico%20y%20de%20Laboritorio.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Servicios%20Basicos%20(luz,%20agua%20y%20telefono).svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Transferecias al Sindicato.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Vehiculos.svg"></span>
            <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Vestuario,%20Blancos,%20Articulos%20Deportivos.svg"></span>
             <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Servicos%20Profesionales%20y%20Cientificos.svg"></span>
             <span class="image-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Peaje.svg"></span>
        </div>
      </div>
      <div class="modal-footer">
        Otra categoria: <input id="otherOptionalCategoryValue" type="input"/><br><br>
        <a href="#"><img class="change_cat" src="/static/img/icons/QC_BT_8_Change_cat.svg"></a>
         <a class=".close-button" data-dismiss="modal"><img src="/static/img/slide-graphics/QC_BT_9_Close.svg"></a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myOptionalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="categories-modal-body">
        <div class="categories-modal">

            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Seguro%20de%20gastos%20médicos.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Pasajes%20aereos,%20terrestres,%20maritimos.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Gasolina.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Alimentos.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Bienes Artisticos%20y%20Culturales.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Compra%20y%20Renta%20de%20Bienes%20Inmuebles.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Comunicación%20y%20Publicidad.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Donativos,%20Ayudas%20Sociales%20y%20Transferencias%20al%20Extranjero.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Eventos%20Officiales.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Hospedaje.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Mantenimiento%20y%20Reperación.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Mobiliario%20y%20Equipo%20de%20Oficina.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Papeleria.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Servicios%20Medico%20y%20de%20Laboritorio.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Servicios%20Basicos%20(luz,%20agua%20y%20telefono).svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Transferecias al Sindicato.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Vehiculos.svg"></span>
            <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Vestuario,%20Blancos,%20Articulos%20Deportivos.svg"></span>
             <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Servicos%20Profesionales%20y%20Cientificos.svg"></span>
             <span class="image-optional-category-icon"><img class="image-category-icon" src="/static/img/category/QC_Icon_Peaje.svg"></span>
        </div>
      </div>
      <div class="modal-footer">
        Otra categoria: <input id="otherSecondaryOptionalCategoryValue" type="input"/><br><br>
        <a href="#"><img class="change_optional_cat" src="/static/img/icons/QC_BT_8_Change_cat.svg"></a>
          <a class=".close-button" data-dismiss="modal"><img src="/static/img/slide-graphics/QC_BT_9_Close.svg"></a>
      </div>
    </div>
  </div>
</div>