{% load static from staticfiles %}
{% load multifor %}
<style>
    input[disabled='disabled'] {
        color: #666;
        -webkit-text-fill-color: black;
         background-color: #f4f4f4;
    }
    .checkbox-btn{
        color: black ;
        background-color: #DAAFD8 ;
        font-size:11px;
    }

    .checkbox-btn:focus,
    .checkbox-btn.active{
        color:white;
        background-color:#A530A2 ;
        font-weight: bolder;
        font-size:11px;
    }

    [data-toggle="button"] > .btn > input[type="radio"] {
        display:inline;
        position:absolute;
        left:-9999px;
    }
    #qtip-overlay{
    position: fixed;
    left: -10000em;
    top: -10000em;
    }
    .qtip-default{
        margin-right:120px;
        margin-top:-20px;
    }
    #cant_read_container{
        width:150px;
        height:10px;
        clear:both;
    }
    .cant_read{
        width:80px;
        padding-right:3px;
        float:left;
    }
    .undo{
        padding-right:3px;
        float:right;
    }
    .qtip-pos-tr{
        left:1000px;
    }
    div.qtip{
        padding: 0;
        margin-left: -40px;
        height: auto;
        min-height: auto;
        width: auto;
        min-width: auto; }
</style>

<script>
    $( document ).ready(function() {


        // Convert radio buttons into groups of toggle buttons.
        convertRadioButtonsToToggle();

        // Build the bxSlider
        buildSlider();

        // When we click "Other", the field for Other text should be activated
        disableButtonWhenClickingOther();

        // Customize navigating through slides so we have the "Submit button" in the last slide
        customSlideNavigationFunctions();

        // Add form enhancements
        // When hovering in the "?" after a field, show the help-text as a tooltip.
        buildToolTipText();

        // When a user can't read the data in the PDF he can click "Can't read" link and disable that field.
        addCantReadLink();

    });

    function addCantReadLink(){


        $('.form-group').each(function() {
            var cant_read_container = document.createElement('div');
            cant_read_container.id = "cant_read_container";
            var cant_read = document.createElement('p');
            cant_read.innerText = "Can't read!";
            cant_read.setAttribute("class", "cant_read");
            var undo = document.createElement('p');
            undo.innerText = "Undo!";
            undo.setAttribute("class", "undo");
            cant_read_container.appendChild(cant_read);
            cant_read_container.appendChild(undo);
            this.appendChild(cant_read_container);
        });

{#        $('#cant_read').each(function(){#}
{#                this.onclick(function() {#}
{#                    console.log("clicked cant read");#}
{#                });#}
{#        });#}
        $('.undo').css('display','none');
        $('.cant_read').click(function(){
            if($(this).parent().parent().children('input').length > 0){
                $(this).parent().parent().children('input').prop('disabled', true);
                $(this).parent().find('.undo').css('display','block');
            }
            else if ($(this).parent().parent().children('textarea').length > 0){
                $(this).parent().parent().children('textarea').prop('disabled', true);
                $(this).parent().find('.undo').css('display','block');
            }else if ($(this).parent().parent().children('text').length > 0){
                $(this).parent().parent().children('text').prop('disabled', true);
                $(this).parent().find('.undo').css('display','block');
            }else if($(this).parent().parent().children().children('input').length>0){
                $(this).parent().parent().children().children('input').prop('disabled',true);
                $(this).parent().find('.undo').css('display','block');
            }
        });
        $('.undo').click(function(){
            if($(this).parent().parent().children('input').length > 0){
                $(this).parent().parent().children('input').prop('disabled', false);
                $(this).parent().find('.undo').css('display','none');
            }
            else if ($(this).parent().parent().children('textarea').length > 0){
                $(this).parent().parent().children('textarea').prop('disabled', false);
                 $(this).parent().find('.undo').css('display','none');
            }else if ($(this).parent().parent().children('text').length > 0){
                $(this).parent().parent().children('text').prop('disabled', false);
                 $(this).parent().find('.undo').css('display','none');
            }else if($(this).parent().parent().children().children('input').length>0){
                $(this).parent().parent().children().children('input').prop('disabled',false);
                 $(this).parent().find('.undo').css('display','none');
            }

        });
    }
    function customSlideNavigationFunctions(){
        var slider = $('.bxslideri').bxSlider({
            adaptiveHeight:true,
            infiniteLoop: false,
            hideControlOnEnd: true,
        });

        $('.bx-next').click(function(){
            slider.goToNextSlide();
            navigatedToLastSlide(slider);
            return false;
        });

        $('.bx-prev').click(function(){
            slider.goToPrevSlide();
            navigatedToLastSlide(slider);
            return false;
        });

        $(".bx-pager-link").click(function(){
            var slideData = $(this).data();
            if(slideData.slideIndex == slider.getSlideCount() -1){
                addSubmitButtonLastSlide();
            }else{
                removeSubmitButtonLastSlide();
            }
        });
    }

    function disableButtonWhenClickingOther(){
        $("input[name='other_category']").prop('disabled', true);
        $("input[name='other_part_of_government_thats_responsible']").prop('disabled', true);

        $('.choicefield').change(function(){
            if($('.choicefield#id_part_of_government_thats_responsible_7').is(':checked')) {
                 $("input[name='other_part_of_government_thats_responsible']").prop('disabled', false);
            }else{
                $("input[name='other_part_of_government_thats_responsible']").prop('disabled', true);
            }

            if($('.choicefield#id_category_13').is(':checked')) {
                 $("input[name='other_category']").prop('disabled', false);
            }else{
                $("input[name='other_category']").prop('disabled', true);
            }

        });
    }

    function convertRadioButtonsToToggle(){
        $( "#elForm input:radio" ).parent().parent().parent().addClass("btn-group");
        $( "#elForm input:radio" ).parent().parent().addClass("btn checkbox-btn ");
        $("#elForm input:radio").parent().parent().parent().attr("data-toggle", "buttons");
        $( "#elForm input:radio" ).parent().parent().css('width','45%').css('border','1px solid white');

        $('input:radio').toggle();

        $('[id*="radio-popup-style-"]').click(function(){
            $(this).prop('checked', true).parent().addClass('active');
            $('[id*="radio-popup-style-"]').not($(this)).removeAttr('checked').prop('checked', false).parent().removeClass('active');
        });
    }

    function navigatedToLastSlide(slider){
        var numberOfSlides = slider.getSlideCount() -1;

        var navigatedToLastSlide = false;

        if(slider.getCurrentSlide() == numberOfSlides){
            navigatedToLastSlide = true;
        }

        if(navigatedToLastSlide == true){
            addSubmitButtonLastSlide();
        }
        else{
             removeSubmitButtonLastSlide();
        }
        return navigatedToLastSlide;
    }

    function addSubmitButtonLastSlide(){
        $('.bx-wrapper .bx-controls-direction a').children().eq(1).remove();

        // First we check if there is a submit button added
        // Doing this so we don't end up adding buttons everytime we click the slide controlls.
        if($('.bx-wrapper .bx-controls-direction').has('button').length == 0){
            $('.bx-wrapper .bx-controls-direction').append('<button style="float:right; position:relative; z-index: 9999; margin-top:10px;" class="btn btn-success" type="submit">Submit</button>');
        }else{
            $('.bx-wrapper .bx-controls-direction button').remove();
        }
    }

    function removeSubmitButtonLastSlide(){
        // This function should be called only when you need to remove the submit button which comes
        // instead of the arrow in the slides.
         $('.bx-wrapper .bx-controls-direction button').remove();
    }

    function buildSlider(){
        // Get all the elements that have class="sections"
        var groupOfElements = document.getElementsByClassName('sections');

        // Declare the empty array to later fill with the sections names
        var allSections = [];

        // Save the names of the sections
        for (i = 0; i < groupOfElements.length; i++) {
            allSections[i]= slugify(jQuery.trim(groupOfElements[i].attributes.id.nodeValue));
        }

        // Get distinct section values
        var uniqueSections = allSections.filter(function(itm,i,allSections){
            return i==allSections.indexOf(itm);
        });

        // Group and render the fields in slide mode
        for (var i = 0; i < groupOfElements.length; i++) {
            for (var j = 0; j < uniqueSections.length; j++) {
                if(slugify(jQuery.trim(groupOfElements[i].attributes.id.nodeValue)) == uniqueSections[j]){
                    if($("."+uniqueSections[j]).length > 0){
                        // Adding other elements of the group(section)
                        $('.'+uniqueSections[j]).append('<div class="form-group">'+groupOfElements[i].innerHTML+ '</div>');
                    }
                    else{
                        // If we are showing the first element of the form group(section) we are showing the tittle too.
                        $(".bxslideri").append('<li class="'+uniqueSections[j]+'">'+'<h3>'+groupOfElements[i].id+'</h3>'+'<div class="form-group">' + getFormElement(groupOfElements[i]) + '</div></li>');
                    }
                }
            }
        }
    }

    function getFormElement(element){

        return element.innerHTML;
    }

    // Slugify the strings
    function slugify(text)
    {
      return text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
    }

    function buildToolTipText(){

       $('.help-block').each(function() {

           if(this.innerText != ""){
                $(this).qtip({ // Grab some elements to apply the tooltip to
                    prerender: true,
                    content: {
                        text: this.innerText
                    },
                    style: {
                        tip: {
                            corner: true,
                            offset: -1
                        }
                    },
                    position: {
                        my: 'top right'
                    }
                });
               this.innerText = "";
               var x = document.createElement("IMG");
               x.src = "{% static '/static/img/about.png' %}";
               this.appendChild(x);
               this.style.float = "right";
               this.style.margin = "-35px 0 0 170px";
               this.style.padding ="20px";
           }
       });
    }




</script>

<!-- bxSlider Javascript file -->
<script src="{% static "/static/js/jquery.bxslider.min.js" %}"></script>

<script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>

<link href="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css" rel="stylesheet"/>
<!-- bxSlider CSS file -->
<link href="{% static "/static/css/jquery.bxslider.css" %}" rel="stylesheet"></link>
 <form name="elForma" id="elForm" action="{{ form.get_absolute_url }}" method="post"
      {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} role="form" class="center-block">
         <!-- This section is using Multifor module to be able to identify the section of the field-->
        <div style="display:none;" class="form">
            {% for field in form_for_form; field_group in form_for_form.form_fields %}
                  <div class="sections" id="{{ field_group.group }}">
                <label for="">{{field.label_tag}}</label>
                <span class="help-block">{{field.help_text}}</span>
                {% if field.type == 'choicefield' %}
                      {% endif %}
                {{ field }}
              </div>
            {% endfor %} <!--  field in form_for_form -->
      </div>
 </form>

<form name="elForma" id="elForm" action="{{ form.get_absolute_url }}" method="post"
      {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} role="form" class="center-block">
    <legend>{{ form.title }}</legend>
    {% if form.intro %}
    <div class="subtitulo">
      {{ form.intro|safe }}
    </div>
    {% endif %}

    {% csrf_token %}
    <div id="slidedform" class="form">
        <ul style="list-style-type: none; padding: 0px; margin: 0px;" class="bxslideri">
        </ul>
    </div>

    {{ _('Skip it')  }}:  <a class="btn btn-danger"  id="another" href="#" role="button">{{ _('I want another document') }}</a>


</form>
