{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block after_field_sets %}
  <script type="text/javascript">
$(document).ready(function () {
  $(document).on('click', '.manual-verification .verify-action', function () {
    var value = $(this).siblings('.verify-value').text();
    var target = $(this).data('target');
    $('input[name="' + target + '"]').val(value);
  });
});
  </script>
<div class="inline-group" id="form_entries-group">
    <div class="tabular inline-related last-related manual-verification">
        <fieldset class="module">
            <h2>Entries by field</h2>
            <table>
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Slug</th>
                    <th>Answers</th>
                    <th>Verified answer</th>
                </tr>
                </thead>
                <tbody>
                {% for f in fields %}
                <tr style="outline: thin solid">
                  <td>{{ f.label }}</td>
                  <td>{{ f.slug }}</td>
                    <td>
                        <ul style="list-style-type:none">
                            {% for a in f.answers %}
                            <li class="entry-field"><span class="verify-value">{{ a.value }}</span> :{{ a.entry__user__username }}: <span class="verify-action" data-target="_verified_{{ f.slug }}" style="cursor: copy"> &#x27a1</span></li>
                            {% endfor %}
                        </ul>
                    </td>
                  <td>{% if f.verified %}&#x2714{% else %}&#x274E{% endif %}
                    <input class="verified" name="_verified_{{ f.slug }}" type="text" value="{{ f.verified_answer }}">
                  </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
{% endblock %}
