.tooltip > .tooltip-inner {
    background-color: white;
    color: purple;
    border: 1px solid purple;
    position:absolute;
    margin-left:-500px;
    margin-top:-20px;
}
.tooltip-arrow{
    display:none;
}
#category-tooltip {
    position: absolute;
    width: 31px;
    height: 20px;
    margin-left: 1px;
    margin-top: 71px;
}
#category-tooltip .tooltip {
    margin-left:0px !important;
}
h2{
    color:purple;
}
h4{
    color:purple;
}
.row{
    margin-left:0px !important;
    margin-right:0px !important;
}
div#purple-header {
    background-color: purple;
    padding-bottom:20px;
}
.intro{
    background:url("/static/img/slide-graphics/QC_Gf_Bkg Pattern 1.svg") repeat-x;
}
#header-text {
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 2.8em;
    font-family: "Glegoo Regular";
}
.analytics-section{
    background:url("/static/img/slide-graphics/QC_Gf_Bkg%20Pattern%202.svg");
    background-repeat: repeat-x;
    border-bottom:3px solid purple;
    margin-left:0px !important;
    margin-right:0px !important;
    text-align: center;

    padding-top:20px;
    padding-bottom:20px;
}
.analytics-section-title{
    font-size: 15px;
    color:grey;
}
.analytics-section-stats {
    font-size: 28px;
    color: purple;
}
.analytics-section-stats-special{
    font-size: 28px;
    color: purple;
    padding-bottom: 11px;
    padding-top: 11px;
}
.analytics-section-details{
    font-size: 12px;
    color:grey;
}
.analytics-section-second .analytics-section-stats{
    border-left:1px solid purple;
    border-right:1px solid purple;

}
.middle-stats-price{
    padding-top:10px;

}
.top-spending-categories-total{
    font-size:16px;
    color:purple;
}
.footer{
    background-color:#E7E8E9;
    font-family:"Open Sans Regular";
    text-align:justify;
    font-size:10px;
    padding-top:40px;
    padding-bottom:30px;
}
.footer-middle-section{
    font-size:13px;
    text-align:center;
    padding-top:7px;
}
#quien-compro-home-logo{
    float: left;
    width: 100%;
}

.new-transcription {
    height: 98px;
}

.progress {
    border: 7px solid purple;
    /* width: 50% !important; */
    /* margin-left: -27px; */
    height: 34px;
    border-radius: 5px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 47px;
}
.progress-bar {
    background-image: -webkit-linear-gradient(top, #59EC1D 0%, #59EC1D 100%) !important;
        margin-left: -15px;
}
p#percentage {
    margin-top: 30px;
    font-size: 3.2em;
    color: purple;
    font-family: "Glegoo Bold" !important;
}
div#home-paragraphs {
    margin-left:auto;
    text-align: justify;
    font-family:"Open Sans Regular";
    font-size: 15px;
    color:purple;
}
.purple-background{
    background-color:purple;
}
.purple-header-background{
    height: 77px;
    background-color:purple;
}
.otra-categoria-text{
    font-family:"Open Sans Light";
    font-size:16px
    float:left;
}

@font-face {
  font-family: "Glegoo Regular";
  src: url("/static/fonts/Glegoo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Glegoo Bold";
  src: url("/static/fonts/Glegoo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("/static/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("/static/fonts/OpenSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
}
input#otherOptionalCategoryValue {
    width: 317px;
}
input#otherSecondaryOptionalCategoryValue{
    width: 317px;
}
#document-transcript input:disabled, #document-transcript textarea:disabled, #document-transcript text:disabled {
    background: #dddddd;
}
label[for*=id_address]{
    display:none;
}
input#id_address1_calle{
        width: 488px;
}
input#id_address1_nnext{
        width: 125px;
}
input#id_address1_nint {
    width: 137px;
    float: left;
    margin-top: -37px;
    margin-left: 128px;
}
input#id_address1_colonia {
    width: 219px;
    float: left;
    margin-top: -47px;
    margin-left: 269px;
}
input#id_address1_municipio_o_delegacion {
    margin-top: -25px;
    width: 488px;
    float: left;
}
input#id_address1_codigo_postal {
    margin-top: -54px;
    width: 265px;
}
input#id_address1_estado {
    margin-top: -37px;
    float: left;
    width: 218px;
    margin-left: 270px;
}
input#id_domicilio_fisico_del_emisor_physical_address {
    display: none;
}
input#id_address2_domiscilio_fiscal_del_emisor {
    margin-top: -40px;
    display:none;
}
input#id_address2_nnext {
    float: left;
    margin-top: 7px;
    width: 125px;
}
input#id_address2_nint {
    width: 137px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
}
input#id_address2_colonia{
    width: 219px;
    float: left;
    margin-top:  -27px;
    margin-left: 269px;
}
input#id_address2_calle {
    margin-top: 29px;
    width: 488px;
    float: left;
}
input#id_address2_municipio_o_delegacion{
        margin-top: 6px;
        width: 488px;
}
input#id_address2_codigo_postal {
    margin-top: 7px;
    width: 265px;
}
input#id_address2_estado {
    margin-top: -37px;
    width: 218px;
    margin-left: 270px;
    float: left;
}
p#domicilio-fiscio-2 {
    z-index: 99999999;
    position: absolute;
    color: purple;
    margin-top: -160px;
    padding-bottom: 10px;
    color: purple;
    font-family: "Glegoo Regular";
}
#same-as-above-address {
    float: left;
    position: absolute;
    margin-top: -156px;
    margin-left: 363px;
}
#same-as-above-address-text {
    position: absolute;
    margin-left: 383px;
    margin-top: -160px;
    color: purple;
    font-family: Glegoo Regular;
}
.paso-4-de-5-direccin div#cant_read_container{
    display:none;
}
.paso-4-de-5-direccin div.form-group {
    margin-bottom: -20px !important;
}

.feedbackform{
    width:500px;
}
.title-of-slide {
    height: 40px;
    margin-bottom: 70px;
    font-size:2.4em;
    padding-top: 12px;
    text-align: center;
}
#document-transcript {
    overflow: visible !important;
}
#the-logo {
    width: 180px;
    margin-left: -16px;
}
#slidedform{
    padding-left: 23px;
    width: 590px;
    background: transparent;
    border-style: none;
}

#document-transcript input{
    border: 1px solid purple;
}
.header-logo{
    display:none;
}
.bx-controls-direction a {
    top: 16px;
    z-index: 999 !important;
}
.bx-pager.bx-default-pager a.active{
    background:transparent !important;
    background-color:purple !important;
}
.bx-prev {
    left:10px;
    background: url('/static/img/slide-graphics/QC_Nav_01_Arrow%20Left%20Up.svg') !important;
    width: 37px !important;
    height: 37px !important;
}
.bx-next {
    background: url('/static/img/slide-graphics/QC_Nav_02_Arrow%20Right%20Up.svg') !important;
    width: 37px !important;
    height: 37px !important;
}
.bx-wrapper .bx-pager{
    padding-top: 50px !important;
}
.bx-wrapper .bx-viewport{
    -webkit-box-shadow: 0 0 0px #ccc !important;
    height: 100% !important;
}
.bx-pager.bx-default-pager a:hover,
.bx-pager.bx-default-pager a{
    border: 1px solid purple !important;
    border-radius: 9px;
    background:transparent !important;
    background-image: url("/static/img/slide-graphics/QC_Nav_03_Dot_Selected.svg");
}
.bx-default-pager {
    top: 29px;
    height: 40px;
}
label, h3{
    color:purple;
    font-family: Glegoo Regular;

}
.slide-title{
    top:3%;
    font-family: Glegoo Regular;
    color:purple;
}
.slide-first-title{
    color:grey;
    top:3%;
    font-family: Glegoo Regular;
}
.doesnt-look-right {
    clear: both;
    display: flex;
    font-family: "Open Sans Light";
    font-size:1.4em;
    font-weight: lighter;
    color: #777;
    height: 40px;
    float: left;
}
#document-transcript textarea {
    width: 90%;
    border: 1px solid purple;
    padding: 0.2em;
}

[name|="description"]{
    border-color:purple;
    border: 3px;
}
p.optional {
    color: purple;
    padding-top: 50px;

    font-family:"Glegoo Regular";
    font-size:1.5em;
}
legend {
    padding: 17px;
}
span#dollar-sign {
    font-size: 2.9em;
    color:purple;
}
div#del-recibo {
    border-style: solid;
    border-width: 1px;
    border-color: purple;
    margin-top: 20px;
    padding-left: 44px;
}
div#del-recibo p{
    color: purple;
    font-family: "Glegoo Regular"
}
#totalCon {
    float: left;
    width: 50%;
    height: 49px;
    padding-bottom: 10px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #9C3793;
    font-size:2.6em;
    color:black;
    text-align: right;
    padding-right:25px;
}
#totalInput input {
    border: 3px;
    background: transparent;
    font-size: 3.2em;
    color: #9C3793;
    margin-top: -20px;
    text-align: right;
    width: 80%;
}
#precio-group {
    height: 50px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #9C3793;
    border-right-style: solid;
}
#totalInput {
    float: right;
    width: 50%;
}
.modal-content {
    width: 560px;
    height: 584px;
    stroke: 2px;
}
.image-category-icon img{
    width: 141px;
    border-style: solid;
    border-width: 1px ;
    border-color: #9C3793;
    border-spacing: 1px;
    margin-right: -5px;
    margin-bottom: -1px;
    cursor:pointer;
}
.image-optional-category-icon img {
    width: 141px;
    border-style: solid;
    border-width: 1px;
    border-color: #9C3793;
    border-spacing: 1px;
    margin-right: -5px;
    margin-bottom: -1px;
    cursor:pointer;
}

#myModal{
    margin-right: -685px;
}

#myOptionalModal{
    margin-right: -630px;
}
#chooseOptionalCategory{
    border: 1px solid purple;
    height:100px;
    padding: 5px 5px 5px 0px;
}
.optional_category{
    height:150px;
    width: 500px;
}
.add-second-category {
    color: purple;
    display: inline;
    padding-left: 30px;
    /* width: 80%; */
    float: left;
    margin-top: -93px;
}
p#optionalCategoryText {
    float: right;
}
.add-second-category p {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    font-family: "Glegoo Regular";
    stroke-width: 1px;
}
.optional_category p{
    font-family: "Glegoo Regular";
    font-size: 1.5em;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
#abbreviationBody {
}
#abbreviationBody p{
    margin-top: -9px;
    font-size:1em;
    font-family: "Open Sans Regular";
    padding-left: 21px;
 }
#legislature p {
    font-size: 1.8em;
    margin-top: 20px;
    color: purple;
    margin-bottom: -28px;
    padding-left: 20px;
}
#abbreviationAreaOfGovernment{
    text-align: center;
    clear:both;
    color:purple;
}
#senato{
    color:purple;
    padding-right: 5px;
}
#legislature{

}
#chooseCategory{
    width:100%;
    clear:both;
}

#chooseCategory p{
    color:purple;
    font-size: 1.3em;
    font-family: "Glegoo Regular";
}
 #chooseCategory h1{
    padding-top:10px;
     font-size:1.8em;
    font-family: "Glegoo Bold";
}
#facturaDetails{
    padding: 5px 5px 5px 0px;
}
#factura-details-title{
    text-align: left;
    font-size: 1.3em;
    margin-bottom:5px;
    color:purple;
    font-family: "Glegoo Regular";
}
#senato img {
    padding-left: 6px;
    width: 95px;
    height: 60px;
}
.checkbox-btn{
    color: black ;
    background-color: #DAAFD8 ;
    font-size:11px;
}

.checkbox-btn:focus,
.checkbox-btn.active{
    color:white;
    background-color:#A530A2 ;
    font-weight: bolder;
    font-size:11px;
}

[data-toggle="button"] > .btn > input[type="radio"] {
    display:inline;
    position:absolute;
    left:-9999px;
}

.qtip-default{
    margin-right:400px !important;
    margin-top:-20px;
}
.qtip{
    display:none;
}
#cant_read_container{
    width:233px;
    height: 38px;
    padding-top: 5px;
}


/*{#    .qtip-pos-lt{#}*/
/*{#        left:-20px;#}*/
/*{#    }#}*/
/*{#    .qtip-tip{#}*/
/*{#        margin-right:200px;#}*/
/*{#    }#}*/
div.qtip{
    width:100px;
    right:400px !important;
    margin-left: -500px;
}
.qtip-content{
    color:purple !important;
    background-color:white !important;
}

.dynamic-fields input{
    float:left;
}
#social_document{
    /*float:right;*/
}
.help-block img {
    top: 5px;
    margin-top: -40px;
    margin-left: -40px;
}
.bx-viewport ul li {
    /* background-color: blue; */
       padding-left: 42px;
        padding-right: 21px;
}
.paso-1-de-5 ,.paso-2-de-5 ,.paso-3-de-5 , .paso-4-de-5 , .paso-5-de-5{
    border-top:1px solid purple;
    padding-bottom:10px;
}
.paso-1-de-5 p, .paso-2-de-5 p, .paso-3-de-5 p, .paso-4-de-5 p, .paso-5-de-5 p {
    font-family: "Open Sans Light";
    font-size: 1.4em;
}

.es-incorrecta {
    display: block;
    height: 43px;
    margin-top: 34px;
}
form.form-inline {
    padding-bottom: 12px;
}
@media (min-width: 992px){
}

@media (max-width: 992px){
    .purple-header-background {
        height:0px;
    }
}
@media (max-width: 1200px){
    #header-text{
        font-size:2.4em;
    }
}

@media (max-width: 500px){
    /*#qchl{*/
        /*margin-top: 120px;*/
    /*}*/
    #header-text{
        font-size:0.9em;
    }
}