h2{
    color:purple;
}
h4{
    color:purple;
}

div#purple-header {
    height: 100px;
    background-color: purple;
}
.header-white-space{
    height:1px;
    background-color:white;
}
.container{
    background:url("/static/img/slide-graphics/QC_Gf_Bkg Pattern 1.svg") repeat-x;
    width: 100%;
}
#header-text {
    margin-top: 0px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 3.8em;
    font-family: "Glegoo Regular";
}
#quien-compro-home-logo{
    float: left;
    margin-top: -126px;
}
.media-body p{
    text-align: justify !important;
    font-family:"Open Sans Regular" !important;
    font-size: 1.8em;
    color:purple;
}
.project-index {
    margin: 0 0 0 0 !important;
    width: 100%;
}
.project-index .media .new-transcription{
    width:100% !important;
}
object {
    margin-right:56px;
}
#get-started{
    background: transparent;
}
.progress {
    border: 7px solid purple;
    width: 50% !important;
    /* margin-left: -27px; */
    height: 47px;
    border-radius: 5px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 57px;
    clear: both;
}
.progress-bar {
    background-image: -webkit-linear-gradient(top, #59EC1D 0%, #59EC1D 100%) !important;
}
p#percentage {
    margin-top: 8px;
    padding-left: 50%;
    z-index: 99999;
    position: absolute;
    font-size: 4.9em;
    color: purple;
    font-family: "Open Sans Regular";
}
div#home-paragraphs {
    margin-top: 129px;
    width: 50%;
}
@font-face {
  font-family: "Glegoo Regular";
  src: url("/static/fonts/Glegoo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Glegoo Bold";
  src: url("/static/fonts/Glegoo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
}
#document-transcript input:disabled, #document-transcript textarea:disabled, #document-transcript text:disabled {
    background: #dddddd;
}
label[for*=id_address]{
    display:none;
}
input#id_address1_calle{
        width: 488px;
}
input#id_address1_nnext{
        width: 125px;
}
input#id_address1_nint {
    width: 137px;
    float: left;
    margin-top: -37px;
    margin-left: 128px;
}
input#id_address1_colonia {
    width: 219px;
    float: left;
    margin-top: -47px;
    margin-left: 269px;
}
input#id_address1_municipio_o_delegacion {
    margin-top: -25px;
    width: 488px;
    float: left;
}
input#id_address1_codigo_postal {
    margin-top: -54px;
    width: 265px;
}
input#id_address1_estado {
    margin-top: -37px;
    float: left;
    width: 218px;
    margin-left: 270px;
}
input#id_domicilio_fisico_del_emisor_physical_address {
    display: none;
}
input#id_address2_domiscilio_fiscal_del_emisor {
    margin-top: -40px;
    display:none;
}
input#id_address2_nnext {
    float: left;
    margin-top: 7px;
    width: 125px;
}
input#id_address2_nint {
    width: 137px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
}
input#id_address2_colonia{
    width: 219px;
    float: left;
    margin-top:  -27px;
    margin-left: 269px;
}
input#id_address2_calle {
    margin-top: 29px;
    width: 488px;
    float: left;
}
input#id_address2_municipio_o_delegacion{
    margin-top: -92px;
        width: 488px;
}
input#id_address2_codigo_postal {
    margin-top: -88px;
    width: 265px;
}
input#id_address2_estado {
    margin-top: -118px;
    width: 218px;
    margin-left: 270px;
}
p#domicilio-fiscio-2 {
    z-index: 99999999;
    position: absolute;
    color: purple;
        margin-top: -65px;
    padding-bottom: 10px;
}
#same-as-above-address{
    float: left;
    position: absolute;
    margin-top: -59px;
    margin-left: 319px
}
#same-as-above-address-text {
    position: absolute;
    margin-left: 340px;
    margin-top: -63px;
    color:purple;
}
.paso-4-de-5-direccin div#cant_read_container{
    display:none;
}
.paso-4-de-5-direccin div.form-group {
    margin-bottom: -20px !important;
}
[label="id_address2_domiscilio_fiscal_del_emisor"]{
/*{#        display:none;#}*/
}
.feedbackform{
    width:500px;
}
.title-of-slide {
    height: 40px;
    margin-bottom: 70px;
    font-size:2.4em;
    text-align: center;
}
.close-button {
    /* color: white; */
    background: transparent;
    /* background-color: purple; */
    /* height: 30px; */
    background-image: url("/static/img/slide-graphics/QC_BT_9_Close.svg");
    width: 100px;
    height: 36px;
}
#quiero-otro-documento{
    float:left;
    margin-left: -100%;
    margin-top: -64px;
}

#document-transcript {
    overflow: visible !important;
}
#the-logo {
    margin-left: 649px;
    float: left;
    width: 145px;
    height: 77px;
}
#slidedform{
    padding-left: 23px;
    width: 590px;
    background: transparent;
    border-style: none;
}

#document-transcript input{
    border: 1px solid purple;
}
.header-logo{
    display:none;
}
.bx-controls-direction a {
    top: 16px;
    z-index: 999 !important;
}
.bx-pager.bx-default-pager a.active{
    background:transparent !important;
    background-color:purple !important;
}
.bx-prev {
    left:10px;
    background: url('/static/img/slide-graphics/QC_Nav_01_Arrow_Left_Down.svg') -3px !important;
}
.bx-next {
    background: url('/static/img/slide-graphics/QC_Nav_02_Arrow_Right_Down.svg') -3px !important;
}
.bx-wrapper .bx-pager{
    padding-top: 50px !important;
}
.bx-wrapper .bx-viewport{
    -webkit-box-shadow: 0 0 0px #ccc !important;
}
.bx-pager.bx-default-pager a:hover,
.bx-pager.bx-default-pager a{
    border: 1px solid purple !important;
    border-radius: 9px;
    background:transparent !important;
    background-image: url("/static/img/slide-graphics/QC_Nav_03_Dot_Selected.svg");
}
.bx-default-pager {
    top: 29px;
    height: 40px;
}
label, h3{
    color:purple;
    font-family: Glegoo Regular;

}
.slide-title{
    top:3%;
    font-family: Glegoo Regular;
    color:purple;
}
.slide-first-title{
    color:grey;
    top:3%;
    font-family: Glegoo Regular;
}
.doesnt-look-right{
    clear: both;
    display: flex;
    font-family: Open Sans-serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: lighter;
    color: #777;
    height: 40px;
}
#document-transcript textarea {
    width: 90%;
    border: 1px solid purple;
    padding: 0.2em;
}

[name|="description"]{
    border-color:purple;
    border: 3px;
}
p.optional {
    color: purple;
    padding-top: 50px;

    font-family:"Glegoo Regular";
    font-size:1.5em;
}
legend {
    padding: 17px;
}
span#dollar-sign {
    font-size: 2.9em;
    color:purple;
}
div#del-recibo {
    border-style: solid;
    border-width: 1px;
    border-color: purple;
    margin-top: 20px;
    padding-left: 44px;
}
div#del-recibo p{
    color: purple;
    font-family: "Glegoo Regular"
}
#totalCon {
    float: left;
    width: 50%;
    height: 49px;
    padding-bottom: 10px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #9C3793;
    font-size:2.6em;
    color:black;
    text-align: right;
    padding-right:25px;
}
#totalInput input {
    border: 3px;
    background: transparent;
    font-size: 3.2em;
    color: #9C3793;
    margin-top: -20px;
    text-align: right;
    width: 80%;
}
#precio-group {
    height: 50px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #9C3793;
    border-right-style: solid;
}
#totalInput {
    float: right;
    width: 50%;
}
.modal-content {
    width: 560px;
    height: 584px;
    stroke: 2px;
}
.image-category-icon img{
    width: 141px;
    border-style: solid;
    border-width: 1px ;
    border-color: #9C3793;
    border-spacing: 1px;
    margin-right: -5px;
    margin-bottom: -1px;
}
.image-optional-category-icon img {
    width: 141px;
    border-style: solid;
    border-width: 1px;
    border-color: #9C3793;
    border-spacing: 1px;
    margin-right: -5px;
    margin-bottom: -1px;
}

#myModal{
    margin-right: -685px;
}

#myOptionalModal{
    margin-right: -630px;
}
#chooseOptionalCategory{
    border: 1px solid purple;
    height:80px;
    padding: 5px 5px 5px 0px;
}
.optional_category{
    height:150px;
}
.add-second-category{
    color: purple;
    display:inline;
}
/*{#    .add-second-category a{#}*/
/*{##}*/
/*{##}*/
/*{#    }#}*/
.add-second-category p {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    font-family: "Glegoo Regular";
    stroke-width: 1px;
}
.optional_category p{
    font-family: "Glegoo Regular";
    font-size: 1.5em;
}
#change_cat{
    margin: 0 auto;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
#abbreviationBody{
    margin-left: -158px;
    padding-top: 20px;
    float: left;
}
#abbreviationBody p{
    margin-top: -9px;
    font-size:1.5em;
    font-family: "Open Sans Regular";
 }
#legislature p{
    font-family: "Open Sans Regular";
}
#abbreviationAreaOfGovernment{
    text-align: center;
    border-top: 1px solid purple;
    clear:both;
    color:purple;
}
#senato{
    border-right: 1px solid purple;
    height:80px;
    margin-top:-5px;
    width:100px;
    float:left;
    color:purple;
}
#legislature{
    height:15px;
    float:left;

}
#legislature p{
    padding-left:5px;
    font-size:1.8em;
    color:purple;
}
#chooseCategory{
    width:100%;
    clear:both;
}

#chooseCategory p{
    color:purple;
    font-size: 1.5em;
    font-family: "Glegoo Regular";
}
 #chooseCategory h1{
    padding-top:10px;
     font-size:2.45em;
    font-family: "Glegoo Bold";
}
#facturaDetails{
    border: 1px solid purple;
    height:80px;
    padding: 5px 5px 5px 0px;
}
#factura-details-title{
    text-align: left;
    font-size: 1.5em;
    margin-bottom:5px;
    color:purple;
    font-family: Open Sans Regular;
}
#senato img {
    padding-left: 6px;
    width: 95px;
    height: 60px;
}
.checkbox-btn{
    color: black ;
    background-color: #DAAFD8 ;
    font-size:11px;
}

.checkbox-btn:focus,
.checkbox-btn.active{
    color:white;
    background-color:#A530A2 ;
    font-weight: bolder;
    font-size:11px;
}

[data-toggle="button"] > .btn > input[type="radio"] {
    display:inline;
    position:absolute;
    left:-9999px;
}

.qtip-default{
    margin-right:400px !important;
    margin-top:-20px;
}
.qtip{
    display:none;
}
#cant_read_container{
    padding-top:16px;
    padding-bottom:68px;
    width:150px;
    height:20px;
}
.cant_read{
    position:absolute;
    width: 100px;
    padding-right: 3px;
    height: 32px;
    background:transparent url("/static/img/slide-graphics/QC_BT_I_cant_read_Up.svg") center top no-repeat;
    color: white;
    font-family: "Glegoo-Bold";
    font-size: 12px;
    padding-left: 12px;
    padding-top: 6px;
    cursor: hand;
}
.cant_read:hover{
    text-decoration:none;
    width:94px;
    font-size:11px;
    color:white;
    height: 26px;
    padding-left: 13px;
    padding-top: 7px;
    margin-top:3px;
    margin-left:4px;
    cursor: hand;
}
.undo {
    cursor: hand;
    float: right;
    clear: both;
}
/*{#    .qtip-pos-lt{#}*/
/*{#        left:-20px;#}*/
/*{#    }#}*/
/*{#    .qtip-tip{#}*/
/*{#        margin-right:200px;#}*/
/*{#    }#}*/
div.qtip{
    width:100px;
    right:400px !important;
    margin-left: -500px;
}
.qtip-content{
    color:purple !important;
    background-color:white !important;
}

.dynamic-fields input{
    float:left;
}
#social_document{
    /*float:right;*/
}
.help-block img {
    top: 5px;
    margin-top: -40px;
    margin-left: -40px;
}
.bx-viewport ul li {
    /* background-color: blue; */
       padding-left: 42px;
        padding-right: 21px;
        height:850px;
}
.paso-1-de-5 ,.paso-2-de-5 ,.paso-3-de-5 , .paso-4-de-5 , .paso-5-de-5{
    border-top:1px solid purple;
    padding-bottom:10px;
}
.paso-1-de-5 p,.paso-2-de-5 p,.paso-3-de-5 p, .paso-4-de-5 p, .paso-5-de-5 p{
    font-family:"Open Sans Light";
    font-style: italic;
    font-size: 1.4em;
}
#add_receipt_item{
    background:url("/static/img/slide-graphics/QC_BT_9_Add_new_row_Up.svg");
    height:30px;
    width:100px;
}
#add_receipt_item:hover{
    background:url("/static/img/slide-graphics/QC_BT_9_Add_new_row_Down.svg");
}
#select-other-category{
    background: url("/static/img/slide-graphics/QC_BT_Select_another_cat_Up.svg");
    width: 167px;
    height: 30px;
    color:white;
    font-family:"Glegoo-Bold";
    font-size:12px;
    padding-left: 12px;
    padding-top: 6px;
}

#select-other-category:hover{
    text-decoration:none;
    /*background: url("/static/img/slide-graphics/QC_BT_4_Select%20another%20cat%20Down.svg");*/
    width: 163px;
    height: 26px;
    margin-top:2px;
    margin-left:2px;
    padding-left: 13px;
    padding-top: 7px;
    padding-right:13px;
    cursor: hand;
}
#select-other-optional-category {
    background: url("/static/img/slide-graphics/QC_BT_5_Add_Up.svg");
    height: 30px;
    width: 61px;
    float: right;
    margin-bottom:30px;
    /* margin-right: 100px; */
    color:white;
    font-family:"Glegoo-Bold";
    font-style:normal;
    padding-top:5px;
    padding-left:15px;
}
 #select-other-optional-category:hover{
    text-decoration:none;
    width:57px;
    font-size:11px;
    color:white;
    height: 26px;
    padding-left: 13px;
    padding-top: 7px;
    margin-top:3px;
    margin-left:4px;
     cursor: hand;
 }
.change_cat {
    position: absolute;
    background: url("/static/img/icons/QC_BT_8_Change_cat.svg");
    width: 132px;
    margin-left: -89px;
    height: 30px;
}
.change_cat:hover{
    background: url("/static/img/icons/QC_BT_8_Change_cat_Down.svg");
}
a.close-button {
    margin-left: 45px;
    width: 100px;
}
.change_optional_cat{
    position: absolute;
    background: url("/static/img/icons/QC_BT_8_Change_cat.svg");
    width: 132px;
    margin-left: -89px;
    height: 30px;
}
.change_optional_cat:hover{
    background: url("/static/img/icons/QC_BT_8_Change_cat_Down.svg");
}

@media (min-width: 992px){
    .col-md-6 {
        width:50%;
    }
}
@max ( )
@media (max-width: 992px){
    .progress{
        float:left;
    }
    #header-text{
        font-size:2em;
    }
}
@media (max-width: 1200px){
    #header-text{
        font-size:2.4em;
    }
}

@media (max-width: 500px){
    .progress {
        margin-top: 150px;
        display: none;
    }
    #qchl{
        margin-top: 120px;
    }
    div#home-paragraphs{
        width:100% !important;
    }
    #header-text{
        font-size:0.9em;
    }
}