<!DOCTYPE html>

{% load i18n %}
{% load static from staticfiles %}
{% load browserid %}
{% load crowdataapp_tags %}

<html lang="hu">
 {% include 'head.html' %}
  <body id="homepage">
    <div class="container-fluid">
        {% include "header.html" %}

        {% block content %}
        {% endblock %}
    </div>


    {% block contact_us %}
    {% endblock %}

    {% include "footer.html" %}

    <script src="{% static 'browserid/api.js' %}"></script>
    <script src="{% static 'browserid/browserid.js' %}"></script>

  </body>

</html>
