 {% load i18n %}
 {% load static from staticfiles %}
 {% load browserid %}
 {% load crowdataapp_tags %}
<!DOCTYPE html>
<html lang="en">
 {% include 'head.html' %}
  <body>
    <div class="container-full">
        {% include "header.html" %}
    {% if document_set.get_verified_documents.count > 0 %}
        <img style="width:100%;" src="http://quiencompro.com/images/content/5be3ed595fcef13941e62fce9697e593.jpeg">
    {% else %}
        {% block content %}
        {% endblock %}
    {% endif %}
        {% include "footer.html" %}
    </div>

    {% if 'STRANDED_IN_ISTRIAN_HILLS'|get_setting:False %}
    {#  # in case you're low on internet #}
    <script type="text/javascript" src="{% static 'js/apis-google-com-plusone.js' %}">{"parsetags": "explicit","lang": "es"}</script>
    <script src="{% static 'js/login-persona-org-include.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{"parsetags": "explicit","lang": "es"}</script>
    <script src="https://login.persona.org/include.js"></script>
    {% endif %}
    <script src="{% static 'browserid/api.js' %}"></script>
    <script src="{% static 'browserid/browserid.js' %}"></script>

  </body>

</html>
