<!-- footer -->
<style>
    #footer-section-1{
        float:left;
        width:33.33%;
    }
    #footer-section-1 p{
        margin-top: 20px;
        padding:30px;
        size:1.2em;
    }
    #footer-section-2{
        width:33.33%;
        float:left;
        height: 150px;
    }
    #footer-section-2 p{
        margin-top: 60px;
        size:1.5em;
    }
    #footer-section-3{
        float:right;
        width:33.33%;
    }
    #footer-section-3 img {
        width: 230px;
        padding-right: 30px;
        margin-top: 40px;
    }
    .panel-footer{
        background-color: #E7E8E9 !important;
         margin: 0px 0 0 0 !important;
    }
    .panel-footer {
    overflow: auto;

}
</style>
<div class="panel panel-footer">
  <section id="footer-section-1">
      <p>La plataforma se encuentra en formato beta. Estamos en periodo de prueba y te pedimos paciencia mientras probamos su funcionamiento. Esperamos que todo funcione adecuadamente, pero si tienes problemas con la página, nos ayudarán mucho tus comentarios.</p>

  </section>
    <section id="footer-section-2">
      <p>Plataforma desarrollada por  <a style="color:purple;" href="http://opendatakosovo.org">Open Data Kosovo</a> con el código de <a style="color:purple;" href="http://github.com/crowdata/crowdata">Crowdata</a></p>

  </section >
    <section id="footer-section-3">
      <img src="/static/img/engine-room-logo.png"/><img src="/static/img/odk-logo.png">

  </section>
</div>
<!-- footer -->
