{#<!-- footer -->#}
{#<div class="panel panel-footer">#}
{#</div>#}

<div class="row footer">
    <div class="col-md-4">
        La plataforma se encuentra en formato beta. Estamos en periodo de prueba y te pedimos paciencia mientras probamos su funcionamiento. Esperamos que todo funcione adecuadamente, pero si tienes problemas con la página, nos ayudarán mucho tus comentarios.
    </div>
    <div class="col-md-4 footer-middle-section">
        Plataforma desarrollada por  <a style="color:purple;" href="http://opendatakosovo.org">Open Data Kosovo</a> <br>con el código de <a style="color:purple;" href="http://github.com/crowdata/crowdata">Crowdata</a>
    </div>
    <div class="col-md-4">
        <div class="col-md-6">
            <img class="img-responsive" style="margin:0 auto;" src="/static/img/engine-room-logo.png"/>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" style="margin:0 auto;" src="/static/img/odk-logo.png">
        </div>
    </div>
</div>


<!-- footer -->
