{% extends "layout/layout_8-4.html" %}
{% load crowdataapp_tags %}
{% load static from staticfiles %}

{% block landingpage %}
<script type="application/javascript">
    $(document).ready(function(){
        var document_count = {% widthratio document_sets.0.get_verified_documents.count document_sets.0.documents.count 100 %};
        var all_documents = {{ document_sets.0.documents.count }};
        var percentage = (document_count * all_documents)/100;
        $('#percentage').text(""+percentage + "%");
        $('.progress-bar').css('width',''+percentage + "%");
    });
 </script>
    <div class="row intro">
        <div class="col-md-4">
            <img class="img-responsive" src="http://quiencompro.com/images/QC.png">
        </div>
        <div class="col-md-4 progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="" style="">
            </div>

        </div>
        <div class="col-md-4">
            <p id="percentage">%</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" id="home-paragraphs">
          <p>¡Muchas gracias por llegar hasta aquí! </p>
          <p>Igual que tú, ¿Quién Compró? no tolera la corrupción. Por eso nos dedicamos a seguir la pista de los recursos públicos en el Congreso mexicano, uno de los más costosos y menos transparentes del mundo. </p>
          <p>Mientras la mayoría quiere saber en qué usan los políticos el dinero de todos, ellos se empeñan en ocultarlo. Si ellos no quieren transparentar sus gastos, nosotros lo haremos. Pero necesitamos colaborar en equipo. </p>
          <p>Conviértete en un liberador de datos: ¡cuéntale al mundo cómo usan nuestro dinero los diputados y senadores!</p>
          <p>Al comenzar a utilizar nuestra plataforma, ésta te proporcionará la copia de una factura en formato PDF. </p>
          <p>A partir de ahí, sigue las instrucciones para registrar la información que aparece en el documento.
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
            <a class="qc-btn-lg qc-btn-get-started" style="float:none;margin:0 auto;" href="{% url 'new_transcription' document_sets.0.slug %}" >Comenzar</a><br>
        </div>
    </div>

    <div class="row analytics-section">
        <div class="col-md-4 analytics-section-first">
            <div class="row ">
                <div class="col-md-12 analytics-section-title">
                    Entre todos hemos liberado
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 analytics-section-stats-special">
                    30,000 $
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 analytics-section-details">
                    correspondiente a <span style="color:purple;">250</span> facturas de un total de <span style="color:purple;">15,000</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 analytics-section-second">
            <div class="row">
                <div class="col-md-12 analytics-section-title">
                    ¿En qué gastan más?
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 analytics-section-stats">
                    <div class="row">
                        <div class="col-md-6">
                            <img height="60px" src="/static/img/category/QC_Icon_Comunicación%20y%20Publicidad.svg" >
                        </div>
                        <div class="col-md-6 middle-stats-price">
                            <span>{{ stats.0.0 }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 analytics-section-details">
                    {{ stats.0.1 }}
                </div>
            </div>
        </div>
        <div class="col-md-4 analytics-section-third">
            <div class="row">
                <div class="col-md-12 analytics-section-title">
                    Top de gastos liberados
                </div>
            </div>
            <div class="row top-spending-categories-total">
                <div class="col-md-3">
                    <img class="img-responsive" src="/static/img/category/QC_Icon_Seguro%20de%20gastos%20médicos.svg" >
                    {{ stats.0.0 }}
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="/static/img/category/QC_Icon_Pasajes%20aereos,%20terrestres,%20maritimos.svg" >
                    {{ stats.1.0 }}
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="/static/img/category/QC_Icon_Alimentos.svg" >
                    {{ stats.2.0 }}
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="/static/img/category/QC_Icon_Peaje.svg" >
                    {{ stats.3.0 }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
