
{% load crowdataapp_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% block maincolumn %}
    <style>
    @font-face {
      font-family: "Glegoo Bold";
      src: url("/static/fonts/Glegoo-Bold.ttf") format("truetype");
    }
    .feedbackform h4 {
        font-size: 2.4em;
        padding-bottom: initial;
        color: purple;
        font-family: "Glegoo Bold";
        font-weight: lighter;
    }
   .feedbackform{
       width:600px;
       margin-right:auto;
       margin-left:auto;
    }
    #feedbackform-box {
        border: 1.5px solid purple;
        padding: 30px;
    }
    #feedbackform-box img{
            margin-left: 30%;
    }
   .continue-liberating {
        background: url("/static/img/slide-graphics/QC_BT_Select_another_cat_Up.svg") 0px 0px;
        /* height: 82px; */
        width: 171px;
        /* background-repeat: repeat; */
        margin-left: 221px;
        margin-bottom: 34px;
        /* background-size: 147px; */
        paddin-top: 42px;
        color: white;
        padding-left: 24px;
        padding-bottom: 10px;
        padding-top: 3px;
        position: absolute;
    }
    .submit {
        background: url("/static/img/slide-graphics/QC_BT_Select_another_cat_Up.svg") 0px 0px;
        /* height: 82px; */
        width: 171px;
        /* background-repeat: repeat; */
        margin-left: 103px;
        margin-top: -3px;
        /* background-size: 147px; */
        paddin-top: 42px;
        color: white;
        padding-left: 24px;
        padding-bottom: 10px;
        padding-top: 3px;
        cursor-type: hand;
        position: absolute;
    }
    .continue-liberating:hover {
    }
    .feedbackform textarea[name=feedback_text] {

    }
    .elWordCount{
            float: right;
    }
    a#no-gracias-link {
        border-bottom: 1px solid purple;
        align-items: center;
        margin-left: 20%;
        margin-bottom: 34px;
    }
    .feedbackform p{
        font-family:Glegoo-Bold;
        font-size:1.4em;
        color:purple;
    }



    </style>
    <script type="application/javascript">
    $(document).ready(function() {
        $("#word_count").on('keyup', function() {
            var words = this.value.match(/\S+/g).length;
            if (words > 500) {
                // Split the string on first 200 words and rejoin on spaces
                var trimmed = $(this).val().split(/\s+/, 500).join(" ");
                // Add a space at the end to keep new typing making new words
                $(this).val(trimmed + " ");
            }
            else {
                $('#display_count').text(words);
                $('#word_left').text(500-words);
            }
        });
     });
    </script>
<div class="feedbackform">
                <h4 align="center">¡GRACIAS!</h4>
                <p>¡Gracias por tu apoyo! Tu retroalimentación sobre la experiencia en la plataforma nos ayudará a mejorar el sitio.</p>
                <a id="another" href="" role="button"><span class="continue-liberating">Libera otra factura</span></a><br><br><br><br>
                <a id="no-gracias-link" href="http://quiencompro.com/"> No, gracias, llévame a la página principal de ¿Quién Compró? </a><br>
                <p>Opcional</p>
                <div id="feedbackform-box">
                    <form action="{% url 'feedback' %}" method="POST" name="feedback">
                    {% csrf_token %}
                        <p>Deja tus comentarios y sugerencias abajo. Por ejemplo, dinos si algún paso o campo de captura te resultó inútil o confuso o si algo no funciona.</p>
                    </br><textarea style=" width: 100%;border: 1.5px solid purple;color: purple;" id="word_count" name="feedback_text" rows="5" cols="60"></textarea></br>
                        <div class="elWordCount">Te quedan <span id="display_count">0</span> de máximo <span id="word_left">500</span> caracteres.</div>
                    <a id="another" type="submit"><span class="submit">Submit</span></a>
                </form>
                </div>
{#                <a href="#" class="btn btn-primary btn-lg btn-block" id="another" role="button">{{ _('I want to review other document') }}#}
{#    	    	</a>#}
        </div>
{% endblock %}
