{% extends "layout/layout_8-4.html" %}
{% load crowdataapp_tags %}
{% load static from staticfiles %}

{% block landingpage %}
    <style>
    label{
        display:none;
    }
    #header-text{
        display:none;
    }
    #purple-header{
        height:140px;
    }
    select#id_document{
        display:none;
    }
    input[name=feedback_text]{
    display:none;
    }
    input[name=timestamp]{
    display:none;
    }

    </style>
    <script type="application/javascript">
    $(document).ready(function() {

        var maxLength = 500;

        // limit the word count on feedback to 500 words
        $("#word_count").on('keyup', function(){
            var length = $(this).val().length;
            if(length <= 500){
                $('#display_count').text(500 - $(this).val().length);
            }
        });

        document.feedback.action = document.location.pathname;

        // ** if we started the liberating process from the widget **
        // changing the link "Libera otra fatura" to give us a document from a category

        var referal = document.referrer;

        if(referal.includes("new_transcription_by_cat")){
            var cat = referal.split('/')[6];
            $( '#another' )[0]['href'] = $( '#another' )[0]['href'].replace('new_transcription','new_transcription_by_cat') + '/'+cat;
        }

        // ** when we submit the feedback **
        $('.feedback-submit-btn').click(function(){
            var document_id = document.location.pathname.split('/')[document.location.pathname.split('/').length-1];

            $('select#id_document').val(document_id);
            $('input[name=feedback_text]').val($('textarea[name=feedback_texto]').val());

            $( ".opcional-box" ).animate({
               opacity: 0
                }, 500, function() {
                    // Animation complete.
                    $('.opcional-box').html('<h4 align="center" style="padding-bottom:284px;padding-top:70px;">¡GRACIAS!</h4>');
                    $('.opcional-box').animate({
                        opacity: 1
            }, 500);
            });
            $('form[name=feedback]').submit();
        });

     });
    </script>
        
            <section class="row" id="feedback-header">
                
                <header class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">Itt a vége.<br />Nagyon köszönjük, nagyszerű vagy!</h2>        
                </header>
                
                <div class="col-md-6 col-md-offset-3">
                    <div class="progress-border">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ stats.liberated_declarations }}" aria-valuemin="0" aria-valuemax="{{ stats.all_declarations_count }}" style="width: {{ stats.progress_percent }}%;">
                            {{ stats.liberated_declarations }}/{{ stats.all_declarations_count }}
                          </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="row" id="feedback-another">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h2 class="text-center">Képes vagy még többre is? Szabadíts fel egy újabb dokumentumot!</h2>
                        </div>
                        <div class="col-md-offset-1 col-md-10 text-center">
                            <a href="new_transcript"  class="btn btn-kmonitor btn-lg">Ide vele</a>    
                        </div>
                    </div>
                </div>
                                
            </section>
            
            
            <section class="row" id="liberate-list">
                <div class="col-md-12">
                    
                        <div class="row opcional-box">
                            <div class="col-md-8 col-md-offset-2">
                                <div id="feedbackform-box">
                                    <form action="" method="POST" id="feedbackform" name="feedback">
                                    {% csrf_token %}
                                    {{ feedback_form }}
                                    <p class="form-helper-text text-center">Visszajelzés</p>
                                    <textarea
                                        placeholder="Írd meg nekünk, ha valamilyen észrevételed van a bevitel kapcsán. Legyen az bármi, ami elbizanytalanított, nem működött, haszontalan vagy zavaró volt a kitöltés során."
                                        style=" width: 100%;border: 3px solid #005A9A; border-radius: 8px; padding: 15px;"
                                        maxlength="500" id="word_count" name="feedback_texto" rows="5" cols="60"></textarea>
                                    
                                    </br>
                                        <div class="elWordCount">Még <span id="display_count">500</span> karaktert üthetsz le! (max <span id="word_left">500</span> karakter)</div>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <a class="text-center center-block qc-btn qc-btn-submit bnt btn-kmonitor feedback-submit-btn" type="submit">Küldés</a>    
                                        </div>
                                    </div>
                                        
            
                                    </form>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </section>
            <div class="row">
                <!--     <div class="col-md-10 really-blue-line"></div> -->
                <div class="col-md-12 ">
                    <span class="blue-text text-center">
                        Ha fontosnak tartod a munkánkat, <a href="http://www.k-monitor.hu">támogasd te is a K-Monitort!</a>
                    </span>
                </div>
            </div>                
        

        
{% endblock %}

{% block contact_us %}
<div class="container-fluid">
    <div class="row contact-us">
        <div class="col-md-3"><h2><a href="mailto:vny@k-monitor.hu">Kapcsolat</a></h2></div>
        <div class="col-md-9"><p>Az oldal látogatási statisztikáját Google Analytics segítségével mérjük. Adataidat felelőséggel kezeljük, harmadik félnek nem adjuk ki</p></div>
    </div>
</div>
{% endblock %}
